<div class="card">
    <div class="card-body">

        <form action="">
            <div class="mb-2">
                <label class="form-label">
                    Nombre:
                </label>

                <input type="text" class="form-control" placeholder="Ingrese un nombre">

            </div>
            <div>
                <label class="form-label">
                    Apellidos:
                </label>

                <input type="text" class="form-control" placeholder="Ingrese Apellido">
            </div>

            <div>
                <label class="form-label">
                    Edad:
                </label>

                <input type="number" class="form-control" placeholder="Ingrese edad">
            </div>
            <div>
                <label class="form-label">
                    Correo:
                </label>

                <input type="text" class="form-control" placeholder="Ingrese correo">
            </div>
            <div>
                <label class="form-label">
                    Telefono:
                </label>

                <input type="number" class="form-control" placeholder="Ingrese telefono">
            </div>
            <div>
                <label for="sexo">Sexo:</label>
                <select id="sexo" name="sexo">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    
                </select><br /><br />
            </div>


            <button class="btn btn-primary">
                Enviar
            </button>
        </form>
    </div>
</div>